body {
  background-color: #A3D9FF;
}

.main {
  background-color: #7E6B8F;
  border-radius: 5px;
  align-content: center;
}

button {
  width: calc(100%/3);
}

h1{
position: relative;
transform: translateX(33%);
}

#increment{
  background-color: #96E6B3;
}

#decrement{
  background-color: #DA3E52;
}

#reset{
  background-color: #FFE66D;
}
