body {
  background-color: #A3D9FF;
}

.main {
  background-color: #7E6B8F;
  border-radius: 5px;
  align-content: center;
}

button {
  width: calc(100%/3);
}

h1{
position: relative;
transform: translateX(33%);
}
